@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/img/slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

#startpage {
  cursor: pointer;
  margin: 10px;
}

#search {
  height: 50px;
  width: 350px;
  padding: 10px;
  position: relative;
  top: 10px;
  background-color: beige;
  margin-left: 200px;
  border-radius: 10px;
}

#searchbtn {
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  margin-left: 2px;
  width: 100px;
  background-color: #86332b;
  color: aliceblue;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding: 20px 30px;
  /* margin: 0px; */
}

.btn:hover {
  background: rgba(230, 41, 41, 0.678);
}

.nav-bar {
  padding: 40px 120px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li {
  list-style: none;
  color: aliceblue;
  margin: 8px 25px;
  text-decoration: none;
}

a {
  margin: 8px 25px;
  text-decoration: none;
}

h2 {
  color: rgb(250, 168, 165);
  margin-right: 10px;
}

#banner-title {
  margin: 140px;
  color: white;
}

#banner-title h1 {
  font-size: 64px;
  margin-bottom: 30px;
}

#banner-title h1 span {
  color: rgba(230, 41, 41, 0.678);
}

ul li a {
  text-decoration: none;
  color: aliceblue;
}

.invisible {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wordCarousel div {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  height: 95px;
}

.wordCarousel div li {
  text-transform: capitalize;
  font-size: 64px;
  font-weight: bold;
  padding: 0px 10px;
  height: 70px;
  margin-bottom: 70px;
  display: block;
  color: rgba(230, 41, 41, 0.678);
}

#footer {
  text-align: center;
  color: #ffffff;
  margin: 20px;
}

/* sign up  */
#login-box {
  position: relative;
  margin: 5% auto;
  margin-top: -10px;
  width: 600px;
  height: 400px;
  background: #fffdfd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

.leftbox {
  padding: 40px;
  width: 300px;
  height: 400px;

}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  color: #da2828;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
}


input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #d45637;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}



.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: rgb(231, 76, 76);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
  color: #FFF;
}

.rightbox {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 150px;
  width: 300px;
  height: 400px;
}

button.facebook,
button.google {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.facebook {
  background: #32508E;
}

button.facebook:hover {
  background: #8aa2d3;
}

button.google {
  background: #DD4B39;
}

button.google:hover,
.submit:hover {
  background: #c57c73;
}

/* plan css */
h3 {
  color: #ffffff;
  text-align: center;
  font-size: x-large;
  margin-bottom: 30px;
}

article {
  margin-left: 60px;
  padding: 35px;
  position: relative;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tbody {
  color: #FFF;
}

th {
  background: #F5F5F5;
  display: none;
}

td,
th {
  height: 53px
}

td+td,
th+th {
  text-align: center;
  display: none;
}

td.default {
  display: table-cell;
}

.text-side {
  font-size: 28px;
  font-weight: bold;
}

.text-top {
  position: relative;
  top: -9px;
  left: -2px;
}

.hide {
  border: 0;
  background: none;
}


.tick {
  font-size: 18px;
  color: #2CA01C;
}

.wrong {
  font-size: 18px;
  color: red;
}

.playercontrols {
  display: flex;
  align-items: center;
  background-color: #883026;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 80%;
  height: 130px;
}

.playerbtn {
  background-color: #db5656;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.playerbtn:hover {
  background: rgba(230, 41, 41, 0.678);
  color: wheat;
}

#playlist {
  text-align: center;
}

.songbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  padding: 5px;
  margin: 25px;
  width: 150px;
  box-shadow: 0px 15px 40px #0a0a0a66;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #f3cdcd;
  border-radius: 15px;
}

.songbox:hover {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  background-color: #b82c2e;
  border: 2px solid #e21a1a;
}

.songbox:active {
  border: 2px solid #2b0101;
  transition-property: all;
  transition-duration: 0.1s;
}

#currentsongimage {
  height: 60px;
  width: 61px;
  border-radius: 15px;
  margin: 5px;
}

#currentsongname {
  margin: 5px;
}

.songnames {
  position: relative;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cec1bf;
  margin: 10px;
  border-radius: 15px;
  width: 100px;
  height: 50px;
}

#trackslist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-bottom: 115px;
}

.controlbtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  padding: 10px;
  margin: 5px;
  background: #fa9797;
  border-radius: 20px;
}

#range {
  width: 70vw;
  margin: 20px;
}

.slider {
  height: 60px;
  padding: 30px;
  background: #fa9797;
  border-radius: 20px;
  box-shadow: 0px 15px 40px #0a0a0a66;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
}

/* custom scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 133, 133);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background: rgb(207, 88, 88);
    background: linear-gradient(153deg, rgba(207, 88, 88, 1) 0%, rgba(121, 9, 9, 1) 74%, rgba(250, 163, 163, 1) 100%);
    background-repeat: no-repeat;
    width: auto;
  }

  .nav-bar {
    flex-direction: column;
  }

  #trackslist {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-left: 30px;
  }

  .slider {
    padding: 45px 5px 10px 5px;
  }

  #search {
    margin-top: 10px;
    margin-left: 0px;
    width: auto;
  }

  #startpage {
    margin: 20px;
  }

  .songbox {
    width: auto;
    margin: 20px;
  }

  .playercontrols {
    height: auto;
    bottom: 0vh;
  }

  #range {
    width: auto;
  }

  .playerbtn {
    background-color: #db5656;
    height: 30px;
    width: 40px;
    border-radius: 15px;
  }

  #currentsongimage {
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  #currentsongname {
    margin: 10px;
    margin-bottom: 20px;
  }

  article {
    margin-left: 0px;
  }

  #login-box {
    width: 325px;
    height: 600px;
  }

  .or{
    left: 50%;
    top: 65%;
  }

  .rightbox{
    top: 50%;
    right: 5%;
    height: 298px;
  }

  .leftbox{
    width: auto;
  }

}