@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/img/slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  /* overflow: scroll; */
}

#startpage {
  cursor: pointer;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  padding: 20px 30px;
  margin: 0px;
}

.btn:hover {
  background: rgba(230, 41, 41, 0.678);
}

.nav-bar {
  padding: 40px 120px;
  color: white;
}

ul li {
  list-style: none;
  color: aliceblue;
  margin: 8px 25px;
  text-decoration: none;
}

a {
  margin: 8px 25px;
  text-decoration: none;
}

h2 {
  color: rgb(250, 168, 165);
  margin-right: 10px;
}

#banner-title {
  margin: 140px;
  color: white;
}

#banner-title h1 {
  font-size: 64px;
  margin-bottom: 30px;
}

#banner-title h1 span {
  color: rgba(230, 41, 41, 0.678);
}

ul li a {
  text-decoration: none;
  color: aliceblue;
}

.invisible {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wordCarousel div {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  height: 95px;
}

.wordCarousel div li {
  text-transform: capitalize;
  font-size: 64px;
  font-weight: bold;
  padding: 0px 10px;
  height: 70px;
  margin-bottom: 70px;
  display: block;
  color: rgba(230, 41, 41, 0.678);
}

.footer ul {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-color: rgba(88, 88, 88, 0.185);
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  text-align: center;
  top: 100%;
}

/* sign up  */
#login-box {
  position: relative;
  margin: 5% auto;
  margin-top: -10px;
  width: 600px;
  height: 400px;
  background: #fffdfd;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

.leftbox {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;

}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  color: #da2828;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}


input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #d45637;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}



.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: rgb(231, 76, 76);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
  color: #FFF;
}

.rightbox {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 150px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

button.facebook,
button.google {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.facebook {
  background: #32508E;
}

button.facebook:hover {
  background: #8aa2d3;
}

button.google {
  background: #DD4B39;
}

button.google:hover {
  background: #c57c73;
}

/* plan css */
article {
  width: 100%;
  max-width: 1000px;
  margin: 0 10%;
  height: 1000px;
  position: relative;
}

ul {
  top: 0px;
  padding-bottom: 14px;
}

ul li .free .btn-list {
  border: 2px solid red;
}

.btn-list {
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
  background: #FFF;
  height: 60px;
  color: #999;
  font-weight: bold;
  font-size: 14px;
  border-left: #a01c1c;
  border-bottom: #a01c1c;
  /* border: 2px solid red; */
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tbody {
  color: #FFF;
}

th {
  background: #F5F5F5;
  display: none;
}

td,
th {
  height: 53px
}

td+td,
th+th {
  text-align: center;
  display: none;
}

td.default {
  display: table-cell;
}

.text-side {
  font-size: 28px;
  font-weight: bold;
}

.text-top {
  position: relative;
  top: -9px;
  left: -2px;
}

.hide {
  border: 0;
  background: none;
}


.tick {
  font-size: 18px;
  color: #2CA01C;
}

.wrong {
  font-size: 18px;
  color: red;
}

.playercontrols {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 85%;
  height: 60px;
}

.playerbtn {
  background-color: #db5656;
  height: 40px;
  width: 50px;
  border-radius: 25px;
}

.playerbtn:hover {
  background: rgba(230, 41, 41, 0.678);
  color: wheat;
}

#playlist {
  text-align: center;
}

.songbox {
  height: 200px;
  padding: 5px;
  margin: 25px;
  width: 150px;
  background-color: #f7909085;
  border: 2px solid red;
  border-radius: 10px;
}

.songbox:hover {
  cursor: pointer;
  height: 205px;
  padding: 10px;
  margin: 20px;
  width: 155px;
}

#currentsongimage {
  height: 80px;
  width: 81px;
  border-radius: 15px;
  margin: 15px;
}

#currentsongname {
  margin: 15px;
}

.songimg {
  margin: 10px;
  border: 2px solid white;
  height: 100px;
  width: 90px;
  border-radius: 10px;
}

.songnames {
  text-align: center;
  margin: 10px;
}

#trackslist {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.controlbtns {
  height: 100px;
  padding: 10px;
  margin: 5px;
  background: #fa9797;
  border-radius: 20px;
}

#range {
  width: 70vw;
  margin: 20px;
}

.slider {
  /* position: absolute;
  top: 70%;
  right: 7%; */
  height: 60px;
  padding: 30px;
  background: #fa9797;
  border-radius: 20px;
  box-shadow: 0px 15px 40px #0a0a0a66;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height: 30px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
}